@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
}
/* Global*/
$lightblue: #26a9e1;

$purple: #203a6d;
h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.18rem;
  border-bottom: 3px solid white;
  font-family: "Bebas Neue", cursive;

  color: $purple;
}
h3 {
  color: $purple;
}
.btn-primary {
  background-color: $lightblue;
  border: none;
  border-radius: 2rem;
}
/*NAVBAR*/
.logo {
  height: 4rem;
}
.navbar {
  height: 5rem;
  background-color: white;
  z-index: 999;

  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.navbar-nav {
  gap: 1rem;
}
.navbar-collapse {
  background-color: rgba(255, 255, 255, 0.829);
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.link {
  font-weight: 500;
  font-size: 1.2rem;
  color: $purple;
  border-radius: 5px;
  text-decoration: none;
  padding: 0.3rem 1rem 0.3rem 1rem;
  cursor: pointer;
}
.link:hover {
  background-color: $lightblue;
  color: white;
}

/*Hero*/

.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-attachment: scroll;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  h1 {
    padding-bottom: 1rem;
    letter-spacing: 0.7rem;
  }
  h1,
  h3,
  .btn-primary {
    margin-left: 15vw;
  }
  .btn-primary {
    font-size: 1.3rem;
    width: 15rem;
  }
  h3 {
    font-weight: 400;
  }
}

/*Services*/
.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .card {
    padding: 1rem;
    gap: 1.5rem;
    height: 22rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.2s ease;
    .card-title {
      font-size: 1.8rem;
      color: $purple;
    }
  }
  .card:hover {
    scale: 1.03;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 6px;
  }
}
.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  .service-logo {
    width: 3rem;
    margin: auto;
  }
}

/*process*/
.process {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: $lightblue;
  padding-top: 3rem;
  padding-bottom: 3rem;
  h1 {
    border: none;
    color: white;
  }
}

.process-info {
  width: 90vw;
  max-width: 40rem;
  font-size: 1.2rem;
  color: $purple;
}

/*About*/
.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/pexels-vidal-balielo-jr-1682497.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    border: none;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 40rem;
    font-size: 1.2rem;
    backdrop-filter: blur(8px);
  }
}
.about-desc {
  font-size: 1.5rem;
}

/*Contact*/
.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  form {
    width: 90vw;
    border-radius: 1rem;
    max-width: 40rem;
    background-color: $purple;
    padding: 2rem;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-primary {
      width: 8rem;
    }
  }
}

.footer {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $lightblue;
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
  }
  .main-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  .footer-icons {
    display: flex;

    align-items: center;
  }
  width: 100%;
  .footer-logo {
    width: 6rem;
    border-radius: 4rem;
  }
  .footer-icon {
    width: 3rem;

    background-color: $purple;
    margin-left: 2rem;
    border-radius: 100%;
  }
  .footer-navigation {
    display: flex;
    flex-direction: column;
  }
  .footer-link {
    text-decoration: none;
    color: $purple;
    font-weight: 500;
    cursor: pointer;
  }
}
